<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>welcome ejs template</title>
  </head>
  <body>
      <h1>welcome <%=name%></h1>

      <p><%=id%> 번째 가입자 입니다.</p>
  </body>
</html>
